<!DOCTYPE html>
<html lang="en">
<body>

{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName" style="width: 350px" ;/>
    <button type="submit">Login</button>
</form>
{{/name}}
{{#name}}
<form action="/add-message" method="post">
    <input type="text" placeholder="Write a message" name="text" style="width: 350px;"/>
    <button type="submit">Submit</button>
</form>
<p></p><b>Messages by {{.}} :</b></p>
<ol>
    {{#messages}}
    <li>{{text}}<form style="display: inline;"action="/delete-message" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <button type="submit" >Delete</button></form></li>
    {{/messages}}
</ol>
{{/name}}
</body>
</html>