<!DOCTYPE html>
<html lang="en">
<body>
{{#name}} Hello, {{.}}!{{/name}}

{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/name}}

<form action="/add-message" method="post">
    <input type="text" placeholder="Enter your message here" name="message"/>
    <button type="submit">Post</button>
</form>

<ol>
{{#messages}}
<li>
{{text}}
    <form action="/delete-message" method="post">
        <input type="hidden" value="{{id}}" name="id"/>
        <button type="submit">Delete</button>
    </form>
</li>
{{/messages}}
</ol>
</body>
</html>